<!-- smartscoreApp/templates/smartscoreApp/index.html -->
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartScore</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/flatly/bootstrap.min.css"/>
</head>
<body>
    <header>
        <h1>Welcome to SmartScore!</h1>
    </header>

    <main>
        {% include 'smartscoreApp/home.html' %}
    </main>

    <footer>
        <!-- Your footer content -->
    </footer>
</body>
</html>
