<!-- smartscoreApp/templates/smartscoreApp/register.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Register</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/flatly/bootstrap.min.css"/>
</head>
<body class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" action="{% url 'home' %}" class="border p-4">
                {% csrf_token %}
                <h2 class="mb-4">Login/Register</h2>
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</body>
</html>
